/* sticky footer */

* {
    margin: 0;
}

html,
body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-wrap {
    min-height: 100%;
    max-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
    overflow: hidden;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 100px;
}


/* app styling and animation */

h2 {
    -webkit-animation-delay: 1.5s;
}

h3 {
    -webkit-animation-delay: 2.2s;
}

#logo {
    -webkit-animation-delay: 1s;
    margin-top: 40px;
}

#spinner {
    display: none;
    color: #337ab7;
}


/* box */

#wrapper {
    position: relative;
}

#image {
    background-color: transparent;
}

.box {
    position: absolute;
    border: 5px solid rgba(255, 255, 255, .5);
}

.fa-circle-o-notch {
    color: green;
}

.fa-circle {
    color: green;
}

div.container {
    margin: auto;
}

.words_title {
    color: green;
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
    .navbar-nav>li.navbar-right {
        float: right !important;
    }
}


/*speed up fadein a bit; it was slow*/

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/*bag of words*/
.image {
   position: relative;
   width: 100%; /* for IE 6 */
   max-width: 100%;
   max-height: 100%;
}

h2.bag {
   width: 100%;
   color: white;
}

ul.bag {
   position: absolute;
   top: 200px;
   left: 30px;
   width: 100%;
   margin-top:-30px;
 }
